@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading-lg {
    @apply text-2xl font-bold;
  }
  .heading-s {
    @apply text-[1.15rem] font-bold;
  }
  .heading-m {
    @apply text-[1.3rem] font-extrabold;
  }
  .title {
    @apply text-base font-bold;
  }
  .body-xs {
    @apply text-xs font-semibold;
  }
  .body-xs-bold {
    @apply text-xs font-bold;
  }
  .body-s {
    @apply text-sm font-bold;
  }
  .body-s-bold {
    @apply text-sm font-bold;
  }
  .body-m {
    @apply text-base font-semibold;
  }
  .body-m-bold {
    @apply text-base font-bold;
  }
  .body-p {  
    @apply text-[0.8rem] font-semibold leading-6;
}
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
  padding: 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

html {
  color: #242424;
  background-color: #FBFBFB;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-bottom: 0px; 
}

.main-content.with-nav {
  padding-bottom: 95px; 
}